/* -------------------------------------
    BUTTONS
------------------------------------- */
.btn {
    max-width: 100%;
    
    > tr > td {
        padding-bottom: 15px;
    }

    table {
        width: auto;
    }

    table td {
        background-color: #ffffff;
        border-radius: $btn-br;
        text-align: center;
    }

    a {
        background-color: #ffffff;
        border: none;
        border-radius: $btn-br;
        color: $primary-color;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 12px 25px;
        text-decoration: none;
        text-transform: capitalize;
    }
}

// Primary call to action button
.btn-primary {
    table td {
        background-color: $teal;
    }

    a {
        background-color: $teal;
        border-color: $teal;
        color: #ffffff;
    }
}

// Secondary button
.btn-secondary {
    margin: 50px 0 40px;
    
    table td {
        background-color: $pac-blue;
    }

    a {
        background-color: $pac-blue;
        border-color: $pac-blue;
        color: #ffffff;
    }
}

.btn-teal {
    margin: 50px 0 40px;
    
    table td {
        background-color: $teal;
    }

    a {
        background-color: $teal;
        border-color: $teal;
        color: #ffffff;
    }
}

.btn-blue {
    margin: 50px 0 40px;
    
    table td {
        background-color: $dark-blue;
    }

    a {
        background-color: $dark-blue;
        border-color: $dark-blue;
        color: #ffffff;
    }
}

.btn-red {
    margin: 50px 0 40px;
    
    table td {
        background-color: $dark-red;
    }

    a {
        background-color: $dark-red;
        border-color: $dark-red;
        color: #ffffff;
    }
}

.btn-purp {
    margin: 50px 0 40px;
    
    table td {
        background-color: $purp;
    }

    a {
        background-color: $purp;
        border-color: $purp;
        color: #ffffff;
    }
}

.btn-smoke {
    margin: 50px 0 40px;
    
    table td {
        background-color: $smoke;
    }

    a {
        background-color: $smoke;
        border-color: $smoke;
        color: #ffffff;
    }
}
