/* -------------------------------------
    CONFIGURE YOUR VARIABLES
------------------------------------- */
$padding: 40px; // For consistent padding
$grey: #f6f6f6; // Background color
$width: 600px; // Width of the content area
$br: 3px; // Border radius
$btn-br: 0; // Border radius

// Color
// -------
$teal: #00CCC0;
$pac-blue: #01A3DC;
$light-blue: #0793CF;
$dark-blue: #0F6AAC;
$fire-red: #CC2126;
$light-red: #E94E40;
$dark-red: #B32025;
$purp: #6D5E7F;
$smoke: #555;
$light: #ededed;
$primary-color: #000000; // Primary color for buttons and links
$secondary-color: #1E8CBD; // Primary color for buttons and links
$font-color: $smoke; // Default font color

// Typography
// -------
// @import url(https://fonts.googleapis.com/css?family=Oswald);
// @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
// $primary-font: 'Open Sans', sans-serif;
$primary-font: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
$secondary-font: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-family: $primary-font !default;
$body-font-weight: 400 !default;
$body-font-size: 18px !default;
$body-font-color: $smoke !default;
$body-line-height: 1.6 !default;

// Notices
// -------
$notice-color-info: #3d88ce !default;
$notice-color-success: #81ad22 !default;
$notice-color-warning: #c6a121 !default;
$notice-color-danger: #be2c2c !default;
$notice-border-radius: 6px !default;
$notice-font-size: $body-font-size !default;
$notice-font-weight: $body-font-weight !default;
$notice-line-height: $body-line-height !default;
$notice-padding: 8px 12px !default;
$notice-margin: 10px 0 !default;

// Dividers
// --------
$divider-margin: 0 !default;
$divider-color: $primary-color !default;
