/* -------------------------------------
    CUSTOM CSS
------------------------------------- */
// .hero {
//     min-height: 346px;
//     background: center cover no-repeat;
//     background-color: $secondary-color;
//     padding: 0;
// }
.hero {
    min-height: 100px;
}

.bg-teal {
    background-color: $teal;
}

.bg-blue {
    background-color: $pac-blue;
}

.bg-dark-blue {
    background-color: $dark-blue;
}

.bg-red {
    background-color: $fire-red;
}

.bg-light-red {
    background-color: $light-red;
}

.bg-dark-red {
    background-color: $dark-red;
}

.bg-purp {
    background-color: $purp;
}

.bg-smoke {
    background-color: $smoke;
}

.bg-light {
    background-color: $light;
}

.bg-white {
    background-color: #ffffff;
}

.font-teal {
    color: $teal;
}

.font-blue {
    color: $pac-blue;
}

.font-light-blue {
    color: $light-blue;
}

.font-dark-blue {
    color: $dark-blue;
}

.font-red {
    color: $fire-red;
}

.font-light-red {
    color: $light-red;
}

.font-dark-red {
    color: $dark-red;
}

.font-purp {
    color: $purp;
}

.font-white {
    color: #ffffff !important;
}
