/* -------------------------------------
  DIVIDERS
------------------------------------- */
.divider {
    border-collapse: separate;
    width: 15%;
    margin: 0 auto;
    
    &-spacer {
        padding: $divider-margin;
    }

    td {
        border-top: 4px solid $divider-color;
        line-height: 0;
        font-size: 0;
        height: 1px;
        margin: 0;
        padding: 0;
    }
}
