/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
h1,
h2,
h3,
h4,
h5,
span {
    font-family: $primary-font;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 0;
}

h1,
h2 {
    font-size: 20px;
    font-weight: 800;
    padding-bottom: $padding;
}

h3 {
    font-size: 20px;
    line-height: 1.3;
    font-weight: 600;
}

h4 {
    font-size: 14px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

p,
ul,
ol,
a,
span {
    font-family: $primary-font;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    margin: 0;
    padding: 0 0 $padding;
    
    li {
        list-style-position: outside;
        margin-left: ($padding - 10px);
    }
}

.info {
    font-size: 10px;
    line-height: 1.3;
    margin-bottom: 0;
}

a {
    color: white;
    text-decoration: underline;
}

// Break long strings to prevent x-scrolling
code,
pre,
.word-wrap {
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

unsubscribe {
    color: white !important;
    font-size: 14px;
}
