/* -------------------------------------
    TYPOGRAPHY
------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

h1,
h2,
h3,
h4,
h5,
span,
p {
    
    // color: $font-color !important;
    font-family: "Open Sans", sans-serif;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 0;
}

h1 {
    font-size: 42px;
    text-transform: capitalize;
    font-weight: 800;
    padding: 95px 0 0;
}

h2 {
    font-size: 23px;
    font-weight: 700;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    color: white;
    padding: 0 0 30px;
    max-width: 90%;
    margin: 0 auto;
}

h4 {
    font-size: 14px;
    font-weight: 600;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

p,
span,
ul,
ol {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 15px;
    
    li {
        list-style-position: inside;
        margin-left: 5px;
    }
}

.info {
    font-size: 10px;
    line-height: 1.3;
    margin-bottom: 0;
}

a {
    color: $primary-color;
    text-decoration: underline;
}

// Break long strings to prevent x-scrolling
code,
pre,
.word-wrap {
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
