---
layout: default.hbs
subject: Nurse.com End of year course bundle promotion!
---
<span class="preheader">End of the year suggested course promo</span>

<div class="content">
    <div class="bg-purp">
        <img src="http://www.jasonnallie.com/images/bundle_hero4.jpg" alt="Get 20% off a new course at nurse.com" />
    </div>
</div>

<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>

                        <p>
                            Thank you for your recent purchase of:
                            <br>
                            <span>
                                Compassion Fatigue
                            </span>
                        </p>
                        <br>
                        <p>
                            We would like to thank you with a discount on another course:

                            <h2>
                                How Nurses Can Help Prevent Child Maltreatment
                            </h2>

                            7 contact hours

                            <h3 class="font-teal">
                                $42 w/o discount
                            </h3>
                        </p>
                        <br>
                        <p class="align-center">
                            Get <strong>20%</strong> off this course when you purchase before:
                            <h3 class="align-center">January 31, 2016</h3>
                        </p>

                        {{> button
                            type='smoke'
                            align='center'
                            url='http://ce.nurse.com/course/60077/how-nurses-can-help-prevent-child-abuse/'
                            title='GET THE COURSE NOW'
                        }}

                        <p class="align-center">
                            Use promo code
                                <span class="font-teal">
                                    PICK692
                                </span>
                            at checkout.
                        </p>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<div class="footer">
    <table>
        <tr>
            <td class="align-center">
                <p>
                    <a href="{{ default.unsubscribe_url }}">
                        <unsubscribe>Unsubscribe / Update Email Settings</unsubscribe>
                    </a>
                    <br>
                    Sent by Nurse.com 7950 Jones Drive, 7th floor McLean, VA 22107 USA
                </p>
            </td>
        </tr>
    </table>
</div>
