---
layout: default.hbs
subject: We have your new required course!
---
<span class="preheader">Child Abuse Reporting in PA | Today in OT</span>

<div class="content">
    <table class="hero" background="http://www.jasonnallie.com/images/ca-hero.jpg" alt="Today in OT - OnCource Learning">
        <tr>
            <td>
                <h1 class="align-center">
                    New Required Course
                </h1>

                <h3 class="align-center">
                    Mandatory Child Abuse Reporting in PA<br>2.0 CE credits
                </h3>

                {{> button type='primary' align='center' url='http://www.continuingeducation.com/course/ot60213/mandatory-child-abuse-reporting-in-pennsylvania/' title='GET THE COURSE NOW' }}

            </td>
        </tr>
    </table>
</div>

<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>

                        <h2 class="align-center">
                            Today in OT now has Pennsylvania’s new, required CE course on child abuse.
                        </h2>

                        {{> divider }}

                        <h5>
                            In response to the requirements of Act 31, Today in OT has introduced this new course: Mandatory Child Abuse Reporting in PA, created and accredited just for Occupational Therapists.
                        </h5>

                        <p>
                            The expert interdisciplinary teams at Today in OT take great pride in producing the highest quality, unbiased, accredited content available and have ensured this course is approved by the Pennsylvania State Board to fulﬁll Act 31 mandatory CE requirements.
                        </p>

                        <p>
                            Complete your course requirement and receive 2.0 CE credits that can be applied toward the hours needed to renew your license.
                        </p>

                        {{> button type='secondary' align='center' url='http://www.continuingeducation.com/course/ot60213/mandatory-child-abuse-reporting-in-pennsylvania/' title='GET THE COURSE NOW' }}

                        <p class="info">
                            Educational activity is provided by <a href="http://www.continuingeducation.com">ContinuingEducation.com</a>, a member of the OnCourse Learning family of websites and publications, which include Nurse.com, Nutrition Dimension,
                            Today in PT, Today in OT and the premier corporate education solution, CE Direct. To view accreditation statements, goals and objectives, visit courses online.
                        </p>

                        <!-- <p>{{> follow_lee }}</p> -->
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<div class="footer">
    <table>
        <tr>
            <td class="align-center">
                <p>Don't like these annoying emails?
                    <a href="{{ default.unsubscribe_url }}">
                        <unsubscribe>Unsubscribe</unsubscribe>
                    </a>.</p>
            </td>
        </tr>
    </table>
</div>
