---
layout: default.hbs
subject: ProSchools is offering 15% off CE!
---
<span class="preheader">Save 15% on your CE!</span>

<div class="content">
    <div class="bg-dark-blue">
        <a href="#"><img src="http://www.jasonnallie.com/ocl/img/hero-ps2.jpg" alt="ProSchools is offering 15% off CE" /></a>
    </div>
</div>

<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>

                        <h1 class="font-dark-blue">
                            Save 15% on your CE.
                        </h1>

                        <p>
                            You’ve waited eleven months to renew your continuing education for 2015.
                        </p>

                        <p>
                            Here’s the thing: <strong>We don’t blame you.</strong>
                        </p>

                        <p>
                            Yes, there are a million other things you would rather do than take a state-mandated continuing education course. Except, in order to maintain your mortgage license, you need to renew before the end of this year.
                        </p>

                        <p>
                            So c’mon, get your CE and get ready to do more magic in 2016.. We’ll even throw in a <strong>15% discount</strong> if you renew now.
                        </p>

                        <div class="align-center">
                            <span>
                                Get a <strong>15% discount</strong> on this course when you renew before:
                            </span>

                            <h3 class="font-dark-blue">
                                Midnight EST <br>
                                December 31, 2015
                            </h3>
                        </div>

                        {{> button
                            type='blue'
                            align='center'
                            url='#'
                            title='GET THE COURSE NOW'
                        }}

                        <p class="align-center">
                            Use promo code
                            <span class="font-dark-blue">
                                <strong>
                                    SAVE15
                                </strong>
                            </span>
                            at checkout.
                        </p>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{> ps_footer
    type='bg-dark-blue'
    color='font-white'
    address='Sent by ProSchools.com | N19W24075 Riverwood Drive Suite 200, Waukesha, Wisconsin 53188 USA'
}}
