---
layout: default.hbs
subject: Complimentary Skills Course Offering!
---
<span class="preheader">Free Microsoft Excel Course</span>

<div class="content">
    <div class="bg-blue">
        <img src="http://www.jasonnallie.com/ocl/img/hero-ps1.jpg" alt="Complimentary Skills Course Offering – Free Microsoft Excel Course" />
    </div>
</div>

<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>

                        <h1 class="font-dark-blue">
                            This year procrastination has benefits.
                        </h1>

                        <p>
                            That’s because when you renew your 2015 CE today, you will receive a complimentary Microsoft Excel course <strong>(a $60 value!)</strong> at no additional charge.
                        </p>

                        <p>
                            Wow everyone at the office with your knowledge of pivot tables, vlookups and macros. Make colleagues jealous of your data-manipulating powers and check getting your CE off the to-do list until next year! Just click on the link and use promo code
                            <span>
                                <strong>
                                    EXCEL2015
                                </strong>
                            </span>
                            at checkout.
                        </p>

                        <div class="align-center">
                            <span>
                                Get this course for
                                <strong>FREE</strong>
                                 when you purchase before:
                            </span>

                            <h3 class="font-dark-blue">
                                Midnight EST <br>
                                December 31, 2015
                            </h3>
                        </div>

                        {{> button
                            type='blue'
                            align='center'
                            url='#'
                            title='GET THE COURSE NOW'
                        }}

                        <p class="align-center">
                            Use promo code
                            <span class="font-dark-blue">
                                <strong>
                                    EXCEL2015
                                </strong>
                            </span>
                            at checkout.
                        </p>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{> ps_footer
    type='bg-dark-blue'
    color='font-white'
    address='Sent by ProSchools.com | N19W24075 Riverwood Drive Suite 200, Waukesha, Wisconsin 53188 USA'
}}
