---
layout: default.hbs
subject: One additional hour of training!
---
<span class="preheader">Renew your CE and reward yourself with a free 1-hr course.</span>

<div class="content">
    <div class="bg-dark-blue">
        <img src="http://www.jasonnallie.com/ocl/img/hero-ps3.jpg" alt="One additional hour of training for FREE" />
    </div>
</div>

<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>

                        <h1 class="font-dark-blue">
                            Renew your CE and reward yourself with a free 1-hr course (a $40 value).
                        </h1>

                        <p>
                            Time is winding down. That’s because there are only a few weeks left to complete your continuing education for 2015.
                        </p>

                        <p>
                            So we’ve made it <strong>easy</strong> for you.
                            <br><br>
                            If you act now and register for an OnCourse Learning 8-hour continuing education course, we will give you <strong>an additional hour at no charge</strong>. Take advantage of this great <strong>$40 course</strong> at no charge and use it toward your CE for another state.
                        </p>

                        <p>
                            The choice is yours!<br><br>
                            Just click the link below and select your state to get started learning today.  Enter promo code
                            <span>
                                <strong>
                                    1HR2015
                                </strong>
                            </span>
                            at checkout.
                        </p>

                        <div class="align-center">
                            <span>
                                Get this course for
                                <strong>FREE</strong>
                                 when you purchase before:
                            </span>

                            <h3 class="font-dark-blue">
                                Midnight EST <br>
                                December 31, 2015
                            </h3>
                        </div>

                        {{> button
                            type='blue'
                            align='center'
                            url='#'
                            title='GET THE COURSE NOW'
                        }}

                        <p class="align-center">
                            Use promo code
                            <span class="font-dark-blue">
                                <strong>
                                    1HR2015
                                </strong>
                            </span>
                            at checkout.
                        </p>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{> ps_footer
    type='bg-dark-blue'
    color='font-white'
    address='Sent by ProSchools.com | N19W24075 Riverwood Drive Suite 200, Waukesha, Wisconsin 53188 USA'
}}
