---
layout: default.hbs
subject: Win a samsung tablet
---
<span class="preheader">Get Informed, Get Ahead and Win A Tablet</span>

<div class="main">

    <table class="bg-white">
        <tr>
            <td class="wrapper">
                <table>
                    <tr>
                        <td>

                            <h1 class="font-dark-red">
                                [Invitation] Get Informed, Get Aheadand Win A Tablet
                            </h1>

                            <p>
                                Hi [First Name],
                            </p>

                            <p>
                                Have you seen the new <a class="font-dark-red" href="http://www.oncoursere.com/">OnCourse Learning Real Estate Blog</a> yet?
                            </p>


                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <div class="bg-light-red">
                    <a href="http://www.oncoursere.com/"><img src="http://www.jasonnallie.com/ocl/img/re-blog_scroll.gif" alt="Preview of the OnCourse Learning Real Estate Blog" /></a>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="wrapper">

                <p>
                    <strong>Be sure to stay informed on current real estate industry news and trends by subscribing!</strong>
                </p>

                <h3>The steps to subscribe are simple:</h3>
                <ol>
                    <li>
                        Just visit <a href="http://www.oncoursere.com/" class="font-dark-red">http://www.oncoursere.com/</a>.
                    </li>
                    <li>
                        Enter your <strong>email</strong> in to the subscribe field on the right hand side of the page.
                    </li>
                </ol>

                <p>
                    <strong>It's that simple!</strong>
                </p>

                <div class="align-center">
                    <span>
                        Subscribe to the new Real Estate blog by:
                        <h3 class="font-dark-red">November 15, 2015,</h3>
                        and we will enter you in a drawing for<br>
                        a <strong>FREE Samsung Tablet!</strong>
                    </span>
                </div>

                {{> button
                    type='red'
                    align='center'
                    url='http://www.facebook.com/sharer/sharer.php?u=http://www.nurse.com/gem'
                    title='FACEBOOK'
                }}

                {{> button
                    type='red'
                    align='center'
                    url='https://twitter.com/home?status=Excellence%20deserves%20to%20shine.%20gem.nurse.com%0A%23GEMAWARDS'
                    title='TWITTER'
                }}
            </td>
        </tr>
    </table>

</div>

{{> re_footer
    type='bg-dark-red'
    color='font-white'
    address='Sent by oncoursere.com | N19W24075 Riverwood Drive Suite 200, Waukesha, Wisconsin 53188 USA'
}}
