---
layout: default.hbs
subject: The Real Estate Blog is now live!
---
<span class="preheader">The Real Estate Blog is now live!</span>

<div class="main">

    <table class="bg-white">
        <tr>
            <td class="wrapper">
                <table>
                    <tr>
                        <td>

                            <h1 class="font-dark-red">
                                [NEW] The Real Estate Blog is now live!
                            </h1>

                            <p>
                                Hi [First Name],
                            </p>

                            <p>
                                <a class="font-dark-red" href="http://www.oncoursere.com/">OnCourse Learning Real Estate</a> is pleased to announce that our new blog is live!
                            </p>

                            <p>
                                Perfect for real estate agents and appraisers who want to stay informed on industry trends, the <a href="http://www.oncoursere.com/" class="font-dark-red">Real Estate Blog can be viewed by clicking here</a>.
                            </p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                <div class="bg-light-red">
                    <a href="http://www.oncoursere.com/"><img src="http://www.jasonnallie.com/ocl/img/re-blog_scroll.gif" alt="Preview of the OnCourse Learning Real Estate Blog" /></a>
                </div>
            </td>
        </tr>
    </table>
    <table>
        <tr>
            <td class="wrapper">

                <h3>
                    Get Informed. Get Ahead.
                </h3>

                {{> button
                    type='red'
                    align='center'
                    url='http://www.oncoursere.com/'
                    title='SUBSCRIBE TO THE REAL<br>ESTATE BLOG TODAY'
                }}
            </td>
        </tr>
    </table>

</div>

{{> re_footer
    type='bg-dark-red'
    color='font-white'
    address='Sent by oncoursere.com | N19W24075 Riverwood Drive Suite 200, Waukesha, Wisconsin 53188 USA'
}}
