---
layout: default.hbs
subject: Subscribe to Enter Tablet Giveaway.
---
<span class="preheader">Subscribe to Enter Tablet Giveaway.</span>

<div class="main">
    <div class="content">
        <div class="bg-light-red">
            <a href="#"><img src="http://www.jasonnallie.com/ocl/img/win-tablet_hero.jpg" alt="Want to win a SAMSUNG tablet?" /></a>
        </div>
    </div>

    <table class="bg-white">
        <tr>
            <td class="wrapper">
                <table>
                    <tr>
                        <td>

                            <h1 class="font-dark-red">
                                Subscribe to Enter Tablet Giveaway.
                            </h1>

                            <p>
                                Hi [First Name],
                            </p>

                            <p>
                                Do you want to win a <strong>Samsung tablet</strong>? Don’t miss our new <a class="font-dark-red" href="http://www.oncoursere.com/">OnCourse Learning Real Estate Blog</a> subscriber giveaway!
                            </p>

                            <h3>The steps to subscribe are simple:</h3>
                            <ol>
                                <li>
                                    Just visit <a href="http://www.oncoursere.com/" class="font-dark-red">http://www.oncoursere.com/</a>.
                                </li>
                                <li>
                                    Enter your <strong>email</strong> in to the subscribe field on the right hand side of the page.
                                </li>
                            </ol>

                            <p>
                                Also, you’ll be sure to stay informed on real estate industry news and trends by subscribing, so it’s really a win-win situation.
                            </p>

                            <p>
                                (Winner of the giveaway will be announced in early December)
                            </p>

                            {{> button
                                type='red'
                                align='center'
                                url='http://www.oncoursere.com/'
                                title='SUBSCRIBE TODAY'
                            }}

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>

{{> re_footer
    type='bg-dark-red'
    color='font-white'
    address='Sent by oncoursere.com | N19W24075 Riverwood Drive Suite 200, Waukesha, Wisconsin 53188 USA'
}}
