---
layout: default.hbs
subject: One additional hour of training!
---
<span class="preheader">Renew your CE and reward yourself with a free 1-hr course.</span>

<div class="content">
    <div class="bg-light-blue">
        <img src="http://www.jasonnallie.com/ocl/img/sw_deadline-hero.jpg" alt="One additional hour of training for FREE" />
    </div>
</div>

<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>

                        <h1 class="font-light-blue">
                            Is it time to renew your social work license?
                        </h1>

                        <p>
                            Our expert, interdisciplinary team takes great pride in producing the highest quality, unbiased, accredited content available. Your professional development and career advancement are our top priorities!
                        </p>

                        <h3>
                            <a href="http://www.continuingeducation.com" class="font-light-blue">ContinuingEducation.com</a> <span>makes it easy to meet your CE requirements with:</span>
                        </h3>

                        <ul>
                            <li>
                                Free CE alerts
                            </li>
                            <li>
                                State-mandated courses
                            </li>
                            <li>
                                Number of contact hours
                            </li>
                            <li>
                                Relevant and compelling social work courses
                            </li>
                            <li>
                                Convenient online modules and webinars
                            </li>
                        </ul>

                        <div class="align-center">
                            <span>
                                Plus, if you become a CE-PRO member and get<br>
                                <strong>50% OFF</strong> everything you buy.
                            </span>
                        </div>

                        {{> button
                            type='light-blue'
                            align='center'
                            url='http://ce.todayinpt.com/ce-pro'
                            title='GET STARTED TODAY!'
                        }}

                        <p>
                            <h3 class="font-light-blue">
                                POPULAR COURSES:
                            </h3>
                            <h2>
                                <a href="http://www.continuingeducation.com/course/sw168-60/improving-your-ability-to-think-critically/"
                                    class="font-smoke">
                                    Improving Critical Thinking and Clinical Reasoning</a>
                                <br>
                                <span>
                                    1.0 CE clock hour
                                </span>
                            </h2>

                            <h2>
                                <a href="http://www.continuingeducation.com/course/sw01/professional-boundaries-in-healthcare/"
                                    class="font-smoke">
                                    Ethics and Professional Boundaries in Healthcare</a>
                                <br>
                                <span>
                                    1.0 CE clock hour
                                </span>
                            </h2>

                            <h3 class="font-light-blue">
                                COURSE BUNDLES:
                            </h3>
                            <h2>
                                <a href="http://www.continuingeducation.com/bundle/bsw07/children-and-adolescents-bundle/"
                                    class="font-smoke">
                                    Children and Adolescents Bundle</a>
                                <br>
                                <span>
                                    4.0 CE clock hours
                                </span>
                            </h2>
                            <h2>
                                <a href="http://www.continuingeducation.com/bundle/bsw05/cultural-competence-bundle/"
                                    class="font-smoke">
                                    Cultural Competence Bundle</a>
                                <br>
                                <span>
                                    6.0 CE clock hours
                                </span>
                            </h2>
                            <h2>
                                <a href="http://www.continuingeducation.com/bundle/bsw01/substance-abuse-bundle/"
                                    class="font-smoke">
                                    Substance Abuse Bundle</a>
                                <br>
                                <span>
                                    6.0 CE clock hours
                                </span>
                            </h2>
                            <h2>
                                <a href="http://www.continuingeducation.com/bundle/bsw08/physical-abuse-bundle/"
                                    class="font-smoke">
                                    Physical Abuse Bundle</a>
                                <br>
                                <span>
                                    8.5 CE clock hours
                                </span>
                            </h2>

                            <h3 class="font-light-blue">
                                WEBINARS:
                            </h3>
                            <h2>
                                <a href="http://www.continuingeducation.com/course/web-sw250/asd-treatments-and-therapies/"
                                    class="font-smoke">
                                    ASD: Treatments and Therapies</a>
                                <br>
                                <span>
                                    1.0 CE clock hour
                                </span>
                            </h2>
                            <h2>
                                <a href="http://www.continuingeducation.com/course/web-sw249/what-is-early-intervention-treatments-and-therapies-before-or-after-a-diagnosis/"
                                    class="font-smoke">
                                    What is Early Intervention? Treatments and Therapies before or after a Diagnosis</a>
                                <br>
                                <span>
                                    1.0 CE clock hour
                                </span>
                            </h2>
                        </p>


                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{> ce_footer
    type='bg-light-blue'
    color='font-white'
}}
